<div class="container">
  <h1>Todo List</h1>

  <button class="add-btn" [routerLink]="'/todoform'">Add New Todo</button>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Category</th>
        <th>Priority</th>
        <th>Status</th>
        <th>Assigned To</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todo of todos">
        <td>{{ todo.title }}</td>
        <td>{{ todo.description }}</td>
        <td>{{ todo.category }}</td>
        <td>{{ todo.priority }}</td>
        <td>{{ todo.status }}</td>
        <td>{{ todo.assignedTo }}</td>
        <td>{{ todo.startDate | date: 'mediumDate'}}</td>
        <td>{{ todo.endDate | date: 'mediumDate'}}</td>
        <td>
          <button >Edit</button>
          <button (click)="deleteTodo(todo.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="todos.length === 0">
    No todos found.
  </div>
</div>