*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Inter,Arial;
}

/* main layout */

.dashboard{

height:100vh;

display:flex;

flex-direction:column;

background:#f4f6ff;

}


/* header */

.header{

height:60px;

background:white;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 25px;

box-shadow:0 2px 10px rgba(0,0,0,0.05);

}

.logo{

font-size:20px;

font-weight:600;

color:#5b4bff;

}


/* search */

.search-box input{

padding:8px 15px;

border-radius:6px;

border:1px solid #ddd;

width:250px;

}


/* right header */

.header-right{

display:flex;

align-items:center;

gap:15px;

}

.user{

font-weight:500;

}

.logout-btn{

background:#5b4bff;

color:white;

border:none;

padding:7px 14px;

border-radius:6px;

cursor:pointer;

}


/* body layout */

.body{

flex:1;

display:flex;

}


/* sidebar */

.sidebar{

width:220px;

background:white;

padding:25px;

box-shadow:2px 0 10px rgba(0,0,0,0.05);

}

.menu-title{

font-size:12px;

color:gray;

margin-bottom:15px;

}


.sidebar a{

display:block;

padding:12px;

margin-bottom:8px;

border-radius:6px;

text-decoration:none;

color:#333;

font-weight:500;

}

.sidebar a:hover{

background:#eef1ff;

}

.active{

background:#5b4bff;

color:white !important;

}


/* content */

.content{

flex:1;

padding:25px;

}


/* content header */

.content-header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:20px;

}


.add-btn{

background:#5b4bff;

color:white;

border:none;

padding:10px 18px;

border-radius:6px;

cursor:pointer;

}


/* workspace */

.workspace{

background:white;

padding:20px;

border-radius:10px;

min-height:400px;

box-shadow:0 2px 10px rgba(0,0,0,0.05);

}